<a href="https://colab.research.google.com/github/gylene/datatype/blob/main/python20211019_Gylene.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
def sum(i1, i2):
    result = 0
    for i in range(i1, i2):
        result += i
    return result

def main():
    print("Sum from 1 to 10 is", sum(1, 11)) 
    print("Sum from 20 to 37 is", sum(20, 38))
    print("Sum from 35 to 49 is", sum(35, 50))

main() # Call the main function

Sum from 1 to 10 is 55
Sum from 20 to 37 is 513
Sum from 35 to 49 is 630

#Simple Test

In [5]:
def sum(i1,i2,i3):
  result = 0 
  for i in range(i1,i2,i3):
    result += i 
  return result 

def main():
  print("Sum from 1 to 25 is",sum(1,11,2))
  print("Sum from 20 to 37 is",sum(20,38,3))
  print("Sum from 35 to 49 is",sum(35,50,5))

main() #Call the main function

Sum from 1 to 10 is 25
Sum from 20 to 37 is 165
Sum from 35 to 49 is 120

In [9]:
def sum(i1,i2,i3):
    result = 0
    for i in range(i1,i2,i3):
        result += i
    return result

def main():
    print("Sum1 ", sum(1, 11,2)) 
    print("Sum2 ", sum(20, 38,3))
    print("Sum3 ", sum(35, 50,5))

main() # Call the main function

Sum1  25
Sum2  165
Sum3  120

In [10]:
def swap(s,t):
  s,t = t,s
  return (s,t)

if __name__ == '__main__':
    x = 55
    y = 10
    print('x = %d,y = %d' % (x,y))
    x,y = swap(x,y)
    print('x = %d,y = %d' % (x,y))

x = 55,y = 10
x = 10,y = 55

In [13]:
def sort(muse1, muse2):
    if muse1 < muse2:
        return muse1, muse2
    else:
        return muse2, muse1

m1, m2 = sort(22, 25)

print("muse1 is", m1)
print("muse2 is", m2)

muse1 is 22
muse2 is 25